* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #fff8e7;
}

header {
    background: #a10000;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.hero {
  background: url("../images/banner.jpg") no-repeat center center/cover;
  height: 100vh;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 20px;
  margin-bottom: 25px;
}

.btn {
  background: #ff9800;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #e65100;
}

.hero-text {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 50px;
    text-align: center;
}

.gallery-grid img {
    width: 300px;
    border-radius: 10px;
}

footer {
    background: #a10000;
    color: white;
    text-align: center;
    padding: 15px;
}
#countdown {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffcc00;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}
@media(max-width: 768px) {
  header {
    flex-direction: column;
  }

  .overlay h1 {
    font-size: 28px;
  }

  .overlay p {
    font-size: 16px;
  }

  section {
    padding: 40px 20px;
  }
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
